LinkedIn_Posts_with_Open_api_Image_v1.json
{
  "name": "Arpan's Linkedin Automation with image generation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn post writer trained to match a crisp, no-fluff, systems-driven, slightly provocative style.\nUse signature lines like:\n\n    “Hard truth:”\n\n    “The system is broken. Here’s why.”\n\n    “Before you throw AI at it, fix the fundamentals.”\n\n    “Automating chaos just gives you faster chaos.”\n\n    “Not magic. Just simple cause and effect.”\n\n    “Sounds harsh? It’s just math.”\n\n    “Most people get this wrong.”\n    Favor logic, challenge flawed systems, and never seek validation.\n\nYou will be given a title, angle, and type. Your task is to create:\n\n    A LinkedIn post that:\n\n    Starts with a strong, thought-provoking hook.\n\n    Contains exactly 4 short paragraphs, each 2-3 sentences, breaking down insights, showing logical consequences, or challenging common misconceptions.\n\n    Ends with a sharp question to drive serious discussion.\n\n    Includes 4-6 relevant hashtags.\n\n    Uses emojis sparingly for emphasis.\n\n    A concise image generation prompt (under 30 words) that visually represents the main problem or insight in the post.\n\nStrict formatting rules:\n\n    Insert newline characters (\\n\\n) between paragraphs.\n\n    Properly escape all text for JSON.\n\n    Avoid double quotes (\"\") and special characters.\n\n    Do not use asterisks.\n\n    Keep total under 3000 characters.\n\nReturn as a single clean JSON object only, exactly in this format (no markdown, no backticks):\n{\"post\": \"your linkedin post content here\", \"image_prompt\": \"your short image prompt here\"}\n\nNow create content based on:\nTitle: {{ $json.Title }}\nAngle: {{ $json.Angle }}\nType: {{ $json.Type }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -940,
        180
      ],
      "id": "7ce9d04a-9c87-49ae-8b33-19794197a31c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  let raw = item.json.output || '';\n  \n  // Remove triple backticks and markdown markers\n  raw = raw.replace(/```json|```/g, '').trim();\n  \n  // Find and isolate valid JSON portion\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}') + 1;\n  \n  if (start === -1 || end <= start) {\n    return {\n      json: {\n        post: '⚠️ No valid JSON found in AI output.',\n        prompt: '',\n      },\n    };\n  }\n  \n  const jsonString = raw.slice(start, end);\n  \n  try {\n    // Parse JSON\n    const parsed = JSON.parse(jsonString);\n    \n    if (!parsed.post) {\n      return {\n        json: {\n          post: '⚠️ Post missing from AI output.',\n          prompt: parsed.image_prompt || parsed.prompt || '',\n        },\n      };\n    }\n    \n    // Fix formatting: convert escaped newlines to actual newlines\n    // Handle both \\\\n\\\\n and \\n patterns\n    let formattedPost = parsed.post\n      .replace(/\\\\n\\\\n/g, '\\n\\n')  // Convert \\\\n\\\\n to actual double newlines\n      .replace(/\\\\n/g, '\\n')       // Convert remaining \\\\n to single newlines\n      .trim();\n    \n    return {\n      json: {\n        post: formattedPost,\n        prompt: parsed.image_prompt || parsed.prompt || '',\n      },\n    };\n  } catch (e) {\n    // Enhanced error logging for debugging\n    console.log('Parse error:', e.message);\n    console.log('JSON string:', jsonString);\n    \n    return {\n      json: {\n        post: '⚠️ Error parsing AI output.',\n        prompt: '',\n      },\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        180
      ],
      "id": "9aea884f-484c-40c6-9c90-587aaf16e563",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts - execution with image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "completed",
            "ID": "=",
            "row_number": "={{ $('Read Ideas from Sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Angle",
              "displayName": "Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        180
      ],
      "id": "6a2f7c4b-b00b-42d4-9bec-676d65b517ab",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yVJArDScrYlFYIyh",
          "name": "Arpan's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -940,
        420
      ],
      "id": "d76fc4d6-ded5-414c-9d2f-c1958a3f304b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zksCZY4kG0ml3Ji3",
          "name": "Arpan's Google Gemini(PaLM) Api 2 "
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc74b0c2-aa46-4bcd-91f3-1eb6b0720167",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1340,
        180
      ],
      "id": "d9426b51-1f2e-4c98-8ca7-78377452fcbe",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1120,
        180
      ],
      "id": "50625381-d047-4f5e-b364-b911cb1f7e4c",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        180
      ],
      "id": "24865826-c03b-48f9-95fd-040347dd50e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b3e666f-779a-4b1d-93cf-ab45913978c2",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1520,
        180
      ],
      "id": "f2470b69-f0a5-4e51-95e1-ccd718af1cf2",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts - execution with image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1700,
        180
      ],
      "id": "5fd4e11b-3ac2-4a13-ad8b-ba5cdfc7310e",
      "name": "Read Ideas from Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yVJArDScrYlFYIyh",
          "name": "Arpan's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI content strategist helping a systems-thinking founder grow a powerful LinkedIn presence. Your goal is to generate 30 unique content ideas rooted in:\n\n- Artificial Intelligence (concepts, strategy, implications)\n- Mental models (decision-making, clarity, leverage)\n- Systems thinking (feedback loops, optimization, complexity)\n- Thinking frameworks and cognitive tools (first principles, second-order thinking, etc.)\n- Personal leverage, high-performance habits, and productivity\n\nEach content idea should be:\n- Insightful and thought-provoking\n- Practical, not fluffy\n- Designed to spark engagement, debate, or self-reflection\n- Written with a confident, slightly contrarian, “builder’s mind” tone\n\n**Do not focus on tools, platforms, or the user’s work. Stay thematic, strategic, and mindset-driven.**\n\nFormat as a JSON array of 30 ideas. Each idea should contain:\n- `title`: A scroll-stopping headline idea\n- `angle`: The key insight, narrative, or example behind the idea\n- `type`: [Mental Model, Framework, Thought Leadership, Insight, Question, Experiment]\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1740,
        -180
      ],
      "id": "1f039457-9eeb-4d35-9246-c98dd7de1d37",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1740,
        0
      ],
      "id": "02a234d8-f091-4423-9dd1-fc608d2b8c0a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "zksCZY4kG0ml3Ji3",
          "name": "Arpan's Google Gemini(PaLM) Api 2 "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input is a JSON string with one property \"output\" (a stringified JSON array)\nconst output = items[0].json.output;\n\n// Remove code block backticks and language tag\nconst cleaned = output.replace(/```json|```/g, \"\").trim();\n\n// Parse the string into an array of ideas\nconst ideas = JSON.parse(cleaned);\n\n// Return each idea as a separate item\nreturn ideas.map(idea => ({ json: idea }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1420,
        -180
      ],
      "id": "436323c6-da33-4fb9-a47c-bfa2b0f45093",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1900,
        -180
      ],
      "id": "f64ba0cd-67db-4a22-aef6-c05e4b1dcb96",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts - execution with image",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFSbJUF-h1OSGjYUCTJF8j7gMszrTUzt9DhBLA6XGJY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1713145354,
          "mode": "list",
          "cachedResultName": "Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mCKRQxpnfPPxig6vz6DIi49bqHyLtHUNhgoVDOaCI5Q/edit#gid=1713145354"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Type": "={{ $json.type }}",
            "Angle": "={{ $json.angle }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Angle",
              "displayName": "Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1240,
        -180
      ],
      "id": "dca843a4-31c7-4c27-a420-e2dc9980e2bb",
      "name": "Send Ideas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yVJArDScrYlFYIyh",
          "name": "Arpan's Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "person": "89MwqtcsIp",
        "text": "={{ $node[\"Code\"].json.post }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -180,
        180
      ],
      "id": "dc37374e-3a2b-405a-b884-bc8f3d364883",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "hdGixhqPTAaFSGgU",
          "name": "Arpan;s LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        180
      ],
      "id": "4d9a204a-c4a4-469e-bcaa-4536f5b0ac88",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "B2m5Q6NlPJrcjUkF",
          "name": "Arpan's OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-05-26T10:00:28.007+05:30",
          "Readable date": "May 26th 2025, 10:00:28 am",
          "Readable time": "10:00:28 am",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "May",
          "Day of month": "26",
          "Hour": "10",
          "Minute": "00",
          "Second": "28",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Ideas from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Ideas from Sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1d9773c0-4e66-4af9-bdf0-26072da8e59c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a39925a189fc4958777cfbc2ee952f96a625e56b8dde120f89d58a7cdacf694a"
  },
  "id": "TKCQPuvQhLgiqIWx",
  "tags": []
}